/* ------------------------------------
 * Rozv for Typecho
 *
 * @author	Noisky＆摄氏度
 * @link	http://www.noisky.cn/
 * @update	2016-10-20
 * --------------------------------- */
body,h1,h2,h3,p,blockquote,dl,dt,dd,ul,ol,li,button,input,textarea {margin: 0; padding: 0;}
header,footer,article,section,nav,menu,hgroup {display:block;}
body {background:#f8f8f8 repeat; color:#444; font:14px/1.6 "Hiragino Sans GB","Microsoft Yahei",Tahoma, Helvetica, Arial, "SimSun", sans-serif;}
h1,h2,h3,h4,h5,h6 {font-weight:400;}
h1 {font-size:24px;}
h2 {font-size:20px;}
h3 {font-size:16px;}
h3.panel-title {font-size:12px; color:#999;}
h4,h5,h6 {font-size:14px;}
hr {margin-top:20px; margin-bottom:20px; border:0; border-top:1px solid #eee;}
img {border:none;}
a img:hover {background:none; border:none;}
a {color:#07b; text-decoration:none;}
a:hover {text-decoration:underline;}
ol,ul {list-style:none;}
input,textarea,button {outline:0;}
input[type^="text"],input[type^="password"],textarea {border:1px solid #eee; background:#fafafa;}
input:focus,textarea:focus {background:#fff; border-color:#999;}
input {vertical-align:middle;}
input[type^="radio"] {border:none; background:none; width:auto;}
::selection {color:#fff; background:#444; text-shadow:none;}
code {font:14px/1.5 Consolas,"Andale Mono","DejaVu Sans Mono",monospace; padding:2px 4px; border-radius:4px; color:#C13; background:#f3f3f0; word-break:break-word;}
pre {max-width:100%; overflow:auto; padding:1em; margin-bottom:.5em; line-height:1.6; font-size:15px; background:#f3f3f0;}
pre code {padding:0;}
blockquote {background:#f6f6f6; border-left: 0.25em solid #ddd; padding:5px 10px; margin-bottom:20px;}
blockquote p {margin-bottom:10px;}
.aligncenter {display:block; margin-left:auto; margin-right:auto;}
.alignleft {float:left;}
.alignright {float:right;}
img.alignleft {margin-right:15px;}
img.alignright {margin-left:15px;}
/* 分类归档 */
.posts-collapse::before{content:" ";position:absolute}
.posts-collapse{position:relative}
.archive-page-counter{position:relative;top:3px;left:20px}
.archive-move-on {position: absolute;top: 8px;left: 0;margin-left: -6px;width: 10px;height: 10px;opacity: 0.5;background: #555;border: 1px solid #fff;border-radius: 50%;}
.collection-title{position:relative;margin:35px 0}
.collection-title h2{margin-left:20px}
.collection-title small{color:#bbb}
.collection-title::before{position:absolute;top:50%;left:0;margin-top:-4px;margin-left:-4px;width:8px;height:8px;border-radius:50%;background:#bbb;content:" "}
.post-meta {font-size: 12px;left: 20px;top: 2px;position: absolute;}
.post-header{position:relative;border-bottom:1px dashed #ccc;margin: 15px 60px 0px 0px;}
.post-header::before{position:absolute;top:7px;left:0;margin-left:-4px;width:6px;height:6px;border:1px solid #fff;border-radius:50%;background:#bbb;content:" ";transition-delay:0s;transition-timing-function:ease-in-out;transition-duration:.2s;transition-property:background}
.post-header:hover{border-bottom-color:#666}
.post-header:hover::before{background:#222}
.post-title-link{position:relative;display:inline-block;border-bottom:none;color:#555;vertical-align:top;line-height:1.2;margin: 0px 0px 10px 0;}
.post-title-link:hover::before{visibility:visible;transform:scaleX(1)}
.post-title-link .fa{font-size:16px}
.post-title {margin-left: 70px;font-size: 16px;font-weight: normal;font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;line-height: inherit;}
hac{margin: 20px 0 10px;}
#wrap {margin:0 auto; width:850px;}
/* Tables */
table {border-collapse:separate; border-spacing:0;}
caption,th,td {text-align:left; font-weight:normal;}
table,td,th {vertical-align:middle;}
table {margin-bottom:1.4em; width:100%;}
th {font-weight:700;}
thead th {background:#c3d9ff;}
th,td,caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9; }
tfoot {font-style:italic;}
caption {background:#eee;}
fieldset {padding:1.4em; margin:0 0 1.5em 0; border:1px solid #ccc;}
legend {font-weight:bold;}
/* Header */
#header {color:#666; padding:20px 0;}
#logo {text-align:center;}
#logo h1 {font-size:36px;}
#logo h1 a {color:#444;}
.description {margin-bottom: 0;}
/* Nav */
#top {background:#f8f8f8; border-bottom:1px solid #ccc; box-shadow:0 1px 3px #d6d6d6; height:40px; line-height:40px; font-size:14px; overflow:hidden;}
#nav {width:850px; margin:0 auto;}
#nav li {float:left; list-style:none; margin-right:15px;}
#nav a {color:#999;}
#nav a:hover {text-decoration:none;}
#nav a:hover,#menu .current a {color:#555;}
#menu .current {border-bottom:2px solid #d3d3d3; line-height:40px; height:38px;}
#menu {float:left;}
/* Search */
#search {background:#fafafa; border:1px solid #ccc; border-radius:3px; box-shadow:inset 1px 1px 3px #ddd; padding:3px 5px; height:16px; margin-top:6px; float:right;}
#search input {border:none; background:none; box-shadow:none; width:130px; height:16px; line-height:16px; vertical-align:top;}
#search button {background:url(images/search.png) no-repeat; width:16px; height:16px; text-indent:-999px; vertical-align:top; border:none; cursor:pointer; margin-left:-5px; font-size:0;}
#search button:hover {background:url(images/search_hover.png) no-repeat;}
/* Content */
.linkscolor a{color:#666; font-size:16px;}
.post {background:#fff; border:1px solid #ddd; box-shadow:0 0 1px 2px #e9e9e9; padding:19px 24px 24px; margin-bottom:20px; word-wrap:normal; word-break:normal; overflow:hidden;}
.post_head {font-size:12px; color:#888; margin-bottom:20px;}
.post_head a {color:#333;}
.post_artice img {max-width:800px; height:auto;}
.post_artice p {font-size:16px; margin-bottom:20px;}
.post_artice p:last-child {margin-bottom:0;}
.tags a {font-size:12px; color:#666; text-shadow:1px 1px #fff; background:#f3f3f3; border-right:1px solid #ddd; border-bottom:1px solid #ddd; margin-right:8px; padding:5px 8px;}
.tags a:hover {background:#e3e3e3; border-color:#bbb; color:#333; text-decoration:none;}
.post ul {list-style-type:disc;}
.post ol {list-style-type:decimal;}
.post ul,.post ol {margin-left:20px; margin-bottom:20px;}
/* Pagebar */
.page-navigator {margin-top:20px; list-style:none; font-size:12px; height:30px; line-height:30px; clear:both;}
.page-navigator li {margin-right:5px; float:left; display:inline;}
.page-navigator li a {background:#fff; display:block; width:28px; text-align:center; border:1px solid #eee; text-decoration:none; color:#666;}
.page-navigator li a:hover,.page-navigator li.current a {background:#eee; border-color:#ddd; color:#444;}
/* Comment */
#comments {margin-top:20px; word-break:break-all;}
#comments p {margin-bottom:15px;}
.comments_state{margin-left: 20px;}
.comments_box {border:1px solid #ddd; background:#fff; padding:24px;}
.comments_count {text-align:right; margin:10px 10px; font-size:12px; color:#999;}
.comment-child {margin-left:15px; border-top:1px dashed #ddd; padding-top:15px;}
.comment-head {font-size:16px;}
.comment-head p{margin-left:0px !important;}
.comment-list li {border-bottom:1px solid #ddd; margin-bottom:20px; position:relative;}
.comment-list .comment-children li {border-bottom:none; margin-bottom:0;}
.comment-list li.comment-by-author {}
.comment-reply {position:absolute; top:0; right:0; font-size:12px; line-height:18px;}
.comment-child .comment-reply {top:15px;}
.comment-reply a {font-size:12px; border:none; color:#888;}
.comment-reply a:hover {color:#444;}
.comment-meta {float:right; color:#999; font-size:12px; margin-right:35px;}
.comment-meta a {color:#999;}
.comment-author {float:left; font-size:12px; height:20px;}
.comment-author cite.fn {font-style:normal;}
.comment-body {overflow:hidden;}
.comment-body p {margin-left:42px; clear:both;}
img.avatar {float:left; margin-right:10px;}
.respond {background:#fff; padding:24px; border:1px solid #ddd; margin-bottom:10px;}
#comment_form {padding-right:8px;}
.respond li {border-bottom:none;}
.respond .cancel-comment-reply {font-size:11px; margin-left: 5px;}
.respond .cancel-comment-reply a {color:#aaa;}
.respond .cancel-comment-reply a:hover {color:#444;}
#comment_form p {font-size:12px; margin:0 0 5px; clear:left;}
#comment_form label {font-size:12px; color:#555; display:block;}
#comment_form label .required {color:#C04E37; padding-left:5px;}
#comment_form textarea {font-size:14px; height:95px; line-height:24px; padding:3px 4px; width:100%; resize: vertical;}
#comment_form button {background:#666; border:1px solid #444; color:#fff; font-size:14px; cursor:pointer; text-shadow:1px 1px #000; height:32px; line-height:32px; width:8%; text-align:center; vertical-align:top;}
#comment_form button:hover {background:#222; border-color:#000;}
.login_meta {margin-bottom:10px; overflow:hidden;}
.login_meta li {float:none;}
.login_meta input {font-size: 14px; padding: 5px 0;}
input#author,input#mail,input#url {width: 30%; padding: 4px 4px;}
/* 404 */
#nopage {background:url(images/404.png) no-repeat center 50px; min-height:250px; text-align:center; padding-top:160px;}
/* Footer */
#footer {font-size:12px; line-height: 1.8; color:#999; padding:15px 0; text-align:center;}
#footer a {color:#666;}
#footer nav a {font-size:14px; margin: 0 5px;}
.lins {font-size:14px;}
/* 多屏幕适配 */
@media print, screen and (max-width:768px) {
#top {overflow:scroll;}
#wrap {margin:0 auto;width:auto}
.post_artice img {max-width:100%; height:auto;}
#comment_form button {width:auto; padding:0px 5px;}
#nav li {margin-right: 7.5px; margin-left: 7.5px;}
#top {box-shadow:none;}
.post {border:none; box-shadow:none; margin-bottom: 10px;}
body {background:#f6f6f6 repeat;}
.page-navigator {margin: 0px 0px 0px 15px;}
.respond {border:none;}
.comments_box {border:none;}
input#author,input#mail,input#url {width: 95%; margin-bottom: .5em;}
}

